.container-form {
  /*background-color: rgba(151, 117, 250, 0.19);*/
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 900px;
  padding: 20px;
  border-radius: 10px;
}

.rutina-form-container {
  width: 500px;
}
button {
  margin-bottom: 40px;
}
.button-submit {
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .container-form {
    width: 100%;
  }
  .button-add {
    margin-top: 10px;
  }
}
