.login {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top:0;
}

.login a {
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  .login a {
    font-size: 10px;

  }
}
