.mis-rutinas, .crear-rutina {
  margin-left: 20px;
}
 h3 {
  color: #0000008E;
}
.mis-rutinas, .crear-rutina {
  margin-top: 40px;
}
.divider {
  height: 4px;
  width: 30px;
  background-color: #9775fa;   margin-bottom: 40px
}
