<div class="container-mis-servicios-web">
  <div class="div1">  <img src="assets/fondo1.jpg"> </div>
  <div class="div2"><app-toolbar></app-toolbar> </div>
  <div class="div3"> </div>
  <div class="div4">
    <div class="text-container">
      <div class="title">SERVICIOS</div>
      <div class="divider"></div>
      <div class="text">En nuestra plataforma ofrecemos un servicio excepcional que te permite crear, organizar y diseñar tus rutinas para que puedas alcanzar tus objetivos de forma efectiva.</div>
      <div class="text">También contamos con rutinas para principiantes para que comiences a dar tus primeros pasos.</div>
    </div>
  </div>
  <div class="div5">
    <img src="assets/foto2.png">
  </div>
  <div class="div6"> <app-mis-servicios-cards></app-mis-servicios-cards> </div>
  <div class="div7"> <div class="footer">© All rights reserved. Powered by Mailen Formosa</div> </div>
</div>
