<div class="container-servicios-card">
  <div class="div1">
    <div class="img">
      <img src="assets/dumbbell.png">
    </div>
    <div class="title">CREA TUS&nbsp; <span class="cambio"> RUTINAS </span></div>
    <div class="divider"></div>
    <div class="text">Diseña y guarda tu plan de entrenamiento personalizado de una manera sensilla e interactiva. </div>
    <div class="button"><p>COMENZAR</p></div>
  </div>
  <div class="div2">
    <div class="img">
      <img src="assets/weightlifter.png">
    </div>
    <div class="title">ORGANIZA TUS&nbsp; <span class="cambio"> RUTINAS </span></div>
    <div class="divider"></div>
    <div class="text">Mantén tus entrenamientos en orden, administra tus sesiones de ejercicios y optimiza tu tiempo en el gimnasio. </div>
    <div class="button"><p>COMENZAR</p></div>
  </div>
  <div class="div3">
    <div class="img">
      <img src="assets/muscle.png">
    </div>
    <div class="title">PROGRAMA DE&nbsp; <span class="cambio"> RUTINAS </span></div>
    <div class="divider"></div>
    <div class="text">Sigue un plan de entrenamiento estructurado y accede a rutinas probadas y efectivas.</div>
    <div class="button"><p>COMENZAR</p></div>
  </div>
</div>
