<div class="container-sidenav">
  <ul class="list">
    <li class="list-item" routerLink="">
      <i class="fa-solid fa-table-cells-large" style="color: rgba(0,0,0,0.56);"></i>Dashboard
    </li>
    <li class="list-item" routerLink="/mis-rutinas">
      <i class="fa-solid fa-dumbbell" style="color: rgba(0,0,0,0.56);"></i>Rutinas
    </li>
    <li class="list-item" routerLink="organizador-de-rutinas">
      <i class="fa-solid fa-calendar-days" style="color: rgba(0,0,0,0.56);"></i>Organizador
    </li>
    <li class="list-item" routerLink="mis-objetivos">
      <i class="fa-solid fa-heart" style="color: rgba(0,0,0,0.56);"></i>Objetivos
    </li>
  </ul>

  <div class="footer">
    <a>
      <span class="powered-by">Powered by</span>
      <span class="author-name"> Mailen Formosa</span>
    </a>
  </div>
</div>
